{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/gif/png" href="images/cv_image.png">
    <title>Abdulrahman Alqannas</title>
    <link href=“https://fonts.googleapis.com/css?family=Lato:700” rel=“stylesheet”>
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Nanum+Myeongjo|Forum|Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-xs-12 col-sm-7 col-sm-push-5 section1">
            <img src="{% static '../media/cv_pics/cv_image.png' %}" alt="cv image">
            <div>
                <h1>Abdulrahman Alqannas</h1>
            </div>
            <div>
                <h3>إداري ومطور ويب</h3>
            </div>
            <div>
                <h5>أبحث عن بيئة عمل محفزة وفعالة في مجال التقنية لممارسة مهاراتي</h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-pull-7 section2">
            <ul>
                <li class="head_list"><img src="{% static '../media/cv_pics/contact.png' %}"
                    <label>التواصل</label>
                </li>
                <li><img src="{% static '../media/cv_pics/call.png' %}">
                    <label>+966598484341</label>
                </li>
                <li><img src="{% static '../media/cv_pics/email.png' %}">
                    <label><a href="mailto:Algnaas20@hotmail.com">Algnaas20@hotmail.com</a></label>
                <li><img src="{% static '../media/cv_pics/github.png' %}">
                    <label><a href="https://github.com/abu8na9" target="_blank">github.com/abu8na9</a></label>
                </li>
            </ul>
            <ul>
                <li class="qrcode"><img src="images/qr-code.png" class="img-responsive"></li>
            </ul>
        </div>
        <div class="section3 col-xs-12 col-sm-7">
            <ul>
                <li class="head_list">
                    <img src="{% static '../media/cv_pics/work.png' %}" alt="work">
                    <label>الخبرات العملية</label>
                </li>
            </ul>
            <div class="timeline1">
                <div class="work_boxz work_box0">
                    <ul>
                        <li>
                            <h4>1/1/2014 - 1/6/2014</h4></li>
                        <li>
                            <h4><b>مبيعات الأجهزة</b></h4></li>
                        <li>خبرة في المبيعات والعناية بالعملاء </li>
                        <li class="green_color">
                            <h4>شركة زين </h4></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section4 col-xs-12 col-sm-5">
            <ul>
                <li class="head_list">
                    <img src="{% static '../media/cv_pics/edu.png' %}" alt="Education">
                    <label>التعليم</label>
                </li>
            </ul>
            <div class="timeline2">
                <div class="work_boxy worky_box1">
                    <ul>
                        <li class="timeline_date">
                            <h4>2015 - 2019</h4></li>
                        <li>
                            <h4><b>بكالوريوس من جامعة الإمام محمد بن سعود</b></h4>
                        </li>
                        <li>
                            حاصل على درجة البكالوريوس في تخصص إدارة الاعمال(نظم معلومات إدارية)
                        </li>
                    </ul>
                </div>
                <div class="work_boxy worky_box2">
                    <ul>
                        <li class="timeline_date">
                            <h4>2011 - 2014</h4></li>
                        <li>
                            <h4><b>الثانوية العامة(علمي)</b></h4>
                        </li>
                        <li>
                            حاصل على الثانوية العامة من مدرسة الفاروق الثانوية
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section6 col-xs-12 col-sm-5">
            <ul>
                <li class="head_list">
                    <img src="{% static '../media/cv_pics/skills.png' %}" alt="Awards">
                    <label>اللغات</label>
                </li>
            </ul>
            <div class="timeline4">
                <div class="work_boxw workw_box1">
                    <ul>
                        <li>
                            <h4><b>العربية</b></h4></li>
                        <li>اللغة الام</li>
                    </ul>
                </div>
                <div class="work_boxw workw_box2">
                    <ul>
                        <li>
                            <h4><b>الإنجليزية</b></h4></li>
                        <li><b>الاسنماع : <b/> جيد جداً</li>
			<li><b>التحدث : <b/> جيد</li>
			<li><b>القراءة : <b/> جيد جداً</li>
			<li><b>الكتابة : <b/>جيد</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section7 col-xs-12 col-sm-7">
            <ul>
                <li class="head_list">
                    <img src="{% static '../media/cv_pics/skills.png' %}" alt="Skills">
                    <label>المهارات</label>
                </li>
            </ul>
            <ul class="skills_ul">
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/py.png' %}">
                    <h4>Python programming language</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/c++.png' %}">
                    <h4>C++ programming language</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/db.png' %}">
                    <h4>SQL</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/db.png' %}">
                    <h4>Sqlite</h4>
		</li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/dj.png' %}">
                    <h4>Django framework</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/html.png' %}">
                    <h4>HTML5</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/git.png' %}">
                    <h4>GIT</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/css.png' %}">
                    <h4>CSS3</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/lx.png' %}">
                    <h4>Linux operating system</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/ms.png' %}">
                    <h4>Microsoft office</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/web.png' %}">
                    <h4>Web development</h4>
                </li>
                <li class="text-center col-xs-3">
                    <img src="{% static '../media/cv_pics/s.png' %}">
                    <h4>Web server administration</h4>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>